body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(255 251 251), rgb(250 205 205));
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
}
.parent{
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(0,0,0, 0.1);
    border-radius: 66px;
    padding: 2rem !important;
    width: 45% !important;
}



.date{
    max-width: 100% !important;
}